//!! Faq block ===============================================

.faq {
   @include adaptiveValue("padding-top", 224, 32);
   @include adaptiveValue("padding-bottom", 230, 56);

   &__container {}

   &__block {
      display: grid;
      grid-template: auto/auto 57.84%;
      gap: rem(32);

      @media (max-width:800px) {
         grid-template: auto auto/auto;
      }
   }

   &__text {
      &__title {
         font-weight: 700;
         @include adaptiveValue("font-size", 52, 24);
         line-height: 123%;
         color: var(--neutural-black);
         transform: translateY(-50%);
         transition: transform 1.8s ease 0s;

         @media (max-width:$tablet) {
            line-height: 133%;
            text-align: center;
         }

         @include adaptiveValue("padding-bottom", 24, 16);

         ._watcher-view & {
            transform: translateY(0)
         }
      }

      &__subtitle {
         @include adaptiveValue("font-size", 20, 18);
         line-height: 160%;
         color: var(--neutural-black);

         @media (max-width:800px) {
            line-height: 156%;
            justify-content: center;
         }

         display: flex;
         column-gap: rem(11);
         transform: translateY(-50%);
         transition: transform 1.8s ease 0s;

         ._watcher-view & {
            transform: translateY(0)
         }

         a {
            font-weight: 700;
            line-height: 133%;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: var(--primary-sky-blue);
            @include adaptiveValue("font-size", 24, 18);

            @media (max-width:$tablet) {
               font-weight: 600;
            }

         }
      }
   }

   &__list {
      gap: rem(12);
   }

   &__item {
      transition: all 0.8s ease 0s;
      border-radius: rem(12);

      &__title {
         border: none;
         font-weight: 700;
         @include adaptiveValue("font-size", 24, 18);
         line-height: 133%;
         color: var(--neutural-grey-1);
         padding: rem(24) rem(50) rem(24) rem(32);
         border-radius: 0;

         @media (max-width:$tablet) {
            font-weight: 600;
            color: #3a3a3a;
         }

         &._spoller-active {
            background: var(--neutural-light-grey);
         }
      }

      &__body {
         border: 0;
         border-radius: 0;
         line-height: 150%;
         color: #737373;
         @include adaptiveValue("font-size", 16, 18);
         padding: rem(16) rem(32) rem(24) rem(32);
         background: var(--neutural-light-grey);
      }
   }
}

//!! Contacts block =====================================

.contacts {
   background: var(--primary-dark-blue-1);
   position: relative;

   &__bg {
      position: absolute;
      /*width: 100%;
      height: 100%;*/
      top: 0;
      left: 11.4%;
      @include adaptiveValue("width", 581, 299);

      @media (max-width:$tablet) {
         left: 50%;
         transform: translateX(-50%);
      }
   }

   &__container {}

   &__block {
      display: grid;
      grid-template: auto/auto 50.41%;
      align-items: center;
      gap: rem(30);

      @media (max-width:$tablet) {
         grid-template: auto/auto;
      }
   }

   &__img {
      margin-right: -33.15%;
      position: relative;
      z-index: 3;

      @media (max-width:$tablet) {
         margin-right: 0;
         order: 2;
      }

      img {
         width: 100%;
      }
   }

   &__content {
      max-width: rem(662);

      @media (max-width:$tablet) {
         padding-top: rem(56);
         max-width: 100%;
      }

      &__title {
         font-weight: 800;
         @include adaptiveValue("font-size", 64, 24);
         line-height: 119%;
         color: var(--neutural-white);

         @media (max-width:$tablet) {
            font-weight: 700;
            line-height: 133%;
            text-align: center;
         }

         transform: translateY(-50%);
         transition: transform 2.8s ease 0s;

         ._watcher-view & {
            transform: translateY(0)
         }

         padding-bottom: rem(24);
      }

      &__benefits {
         display: flex;
         flex-wrap: wrap;
         @include adaptiveValue("column-gap", 41, 24);
         transform: translateY(-50%);
         transition: transform 2.8s ease 0s;

         ._watcher-view & {
            transform: translateY(0)
         }

         &__item {
            @include adaptiveValue("font-size", 20, 14);
            color: var(--primary-sky-blue);
            display: flex;
            align-items: center;
            column-gap: rem(8);

            svg {
               stroke-width: 2px;
               stroke: var(--primary-sky-blue);
               fill: transparent;
               @include adaptiveValue("width", 19, 14);
               @include adaptiveValue("height", 13, 10);
            }

            p {
               font-weight: 500;
               white-space: nowrap;
               line-height: 160%;

               @media (max-width:$tablet) {
                  line-height: 143%;
               }
            }
         }

         @include adaptiveValue("padding-bottom", 36, 24);

         @media (max-width:$tablet) {
            justify-content: center;
         }
      }

      &__button {
         @media (min-width:$tablet) {
            margin: 0;
         }
      }
   }
}